.navBox {
  
  background-color: #161616 !important;
}
.linkHead{
  color: #fff !important;
  font-size: 20px !important;
  font-weight: bolder;
}

.linkText{
  color: #fff !important;
  font-size: 16px !important;
}